@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

* {
	*   margin: 0;
	*     padding: 0;
	*       border: 0;
	*         -webkit-box-sizing: border-box;
	*           -moz-box-sizing: border-box;
	*             -ms-box-sizing: border-box;
	*               -o-box-sizing: border-box;
	*                 box-sizing: border-box;
	*                   -webkit-font-smoothing: antialiased;
	*                     -moz-osx-font-smoothing: grayscale;
	*                     }
	*                     html{
		*                       -webkit-text-size-adjust: 100%;
		*                         -moz-text-size-adjust: 100%;
		*                           -ms-text-size-adjust: 100%;
		*                             text-size-adjust: 100%;
		*                             }
		*                             body{
			*                               width: 100%;
			*                                 font-family: 'Noto Sans KR','Noto Sans CJK KR', sans-serif;
			*                                   font-size: 14px;
			*                                     font-weight: 400;
			*                                       overflow-x: hidden;
			*                                       }
			*                                       table{
				*                                         border-collapse: collapse;
				*                                           border-spacing: 0;
				*                                           }
				*                                           div, ul, ol, li {
					*                                             position:relative;
					*                                             }
					*                                             ul, ul li {
						*                                               list-style:none;
						*                                               }
						*                                               a, a:link, a:visited {
							*                                                 color: inherit;
							*                                                   text-decoration: none;
							*                                                     cursor: pointer;
							*                                                     }
							*
							*                                                     article, aside, details, figcaption, figure, footer, header, menu, nav, section {
								*                                                       display: block;
								*                                                       }
								*                                                       input[type="text"], input[type="password"], input[type="submit"], textarea {
									*                                                         color:#333;
									*                                                         }
									*                                                         textarea::placeholder, input[type="text"]::placeholder,
									*                                                         textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder,
									*                                                         textarea::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder,
									*                                                         textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder,
									*                                                         textarea::placeholder, input[type="text"]::placeholder {
										*                                                           color: #888;
										*                                                           }
										*
										*/*============================================================================*/
									/* Font */
									.time{
									  font-family: 'Noto Sans KR', sans-serif;
								    font-size: 13px;
							      font-weight: 400;
						        color: #666;
					}
				.league{
				  font-family: 'Noto Sans KR', sans-serif;
			    font-size: 13px;
		      font-weight: 700;
	        color: #007fe0;
}
.team{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #222;
}
.be{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #f72b1b;
}
.notice_tit{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.hotnews{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
/*============================================================================*/
/* Login */
.login_pg{
  width: 100%;
  height: 100vh;
  background: url('../images/login_bg_web.jpg') no-repeat top center;
  background-size: cover;
}
.login_form_wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding-bottom: 160px;
  background: url('../images/reserve.png') no-repeat bottom center;
}
.login_form{
  margin: 0 auto;
  padding-top: 200px;
  background: url('../images/logo_large.png') no-repeat top center;
  width: 356px;
}
.input_login{
  margin-bottom: 13px;
  padding: 0 12px;
  width: 100%;
  height: 38px;
  background: #fff;
  border-radius: 3px;
  font-size: 14px;
}
.checkbox_login_wrap{
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.checkbox_login_wrap input[type="checkbox"]{
  display: none;
}
.checkbox_login_wrap label{
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.checkbox_login_wrap input[type="checkbox"] + label span {
  display:inline-block;
  margin: -2px 8px 0 0;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: 3px;
}
.checkbox_login_wrap input[type="checkbox"]:checked + label span {
  background: url('../images/checkbox_check.png') no-repeat center;
  background-size: 22px;
}


.btn_wrap{
  position: relative;
}
.btn_wrap::after{
  content: "";
  clear: both;
}
.btn_member{
  display: inline-block;
  text-indent: -9999px;
  width: 174px;
  height: 43px;
  background: url('../images/btn_member.png') no-repeat center;
}
.btn_login{
  display: inline-block;
  text-indent: -9999px;
  width: 174px;
  height: 43px;
  background: url('../images/btn_login.png') no-repeat center;
  float: right;
}



/*============================================================================*/
/* Index */
.index_pg{
  width: 100%;
  min-width: 1180px;
  overflow-x: visible;
}

.header{
  width: 100%;
  height: 105px;
  background: #0d142b;
  overflow: hidden;
}
.header_wrap{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1180px;
}
.header_wrap .logo{
  display: inline-block;
  position: static !important;
  margin: 15px 60px 22px 0;
  width: 101px !important;
  height: 68px !important;
  text-indent: -9999px;
  background: url('../images/logo.png') no-repeat center left;
  float: left;
}
.gnb_wrap{
  position: relative;
  height: 105px;
  margin-left: 177px;
  border-left: 1px solid #262b45;
}
.topMemInfo_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  border-bottom: 1px solid #262b45;
}
.topMemInfo_wrap{
  width: 100%;
  height: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 40px;
}
.topMemInfo_wrap::after{
  content: "";
  clear: both;
}
.topMemInfo{
  float: right;
}

.user{
  padding: 5px 0 5px 26px;
  font-size: 12px;
  color: #fff;
}
.level_3{
  background: url('../images/level_3.png') no-repeat center left;
}
.message{
  margin-left: 45px;
  padding-left: 28px;
  font-size: 13px;
  font-weight: 700;
  color: #da4a28;
  background: url('../images/message.png') no-repeat center left;
}
.money{
  margin-left: 20px;
  padding-left: 52px;
  font-size: 13px;
  font-weight: 700;
  color: #da4a28;
  background: url('../images/money.png') no-repeat center left;
}
.point{
  margin: 0 20px;
  padding-left: 40px;
  font-size: 13px;
  font-weight: 700;
  color: #da4a28;
  background: url('../images/point.png') no-repeat center left;
}
.charge{
  display: inline-block;
  width: 101px;
  height: 40px;
  border-left: 1px solid #262b45;
  border-right: 1px solid #262b45;
  text-indent: -9999px;
  background: url('../images/charge.png') no-repeat center;
}

.menu_wrap{
  width: 100%;
  height: 65px;
}
.menu_wrap::after{
  clear: both;
}
.menu{
  height: 100%;
  float: left;
  padding: 15px 0 0 45px;
  transition: 0.5s;
}
.menu:hover a{
  opacity: 0.4;
  transition: 0.5s;
}
.menu a, .menu:hover a:hover{
  opacity: 1;
  transition: 0.5s;
}
.cross{
  display: inline-block;
  width: 78px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/menu_cross.png') no-repeat center;
}
.special{
  display: inline-block;
  margin-left: 25px;
  width: 80px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/menu_special.png') no-repeat center;
}
.live{
  display: inline-block;
  margin-left: 27px;
  width: 80px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/menu_live.png') no-repeat center;
}
.result{
  display: inline-block;
  margin-left: 23px;
  width: 97px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/menu_result.png') no-repeat center;
}
.betting{
  display: inline-block;
  margin-left: 23px;
  width: 95px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/menu_betting.png') no-repeat center;
}
.customer{
  display: inline-block;
  margin-left: 26px;
  width: 94px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/menu_customer.png') no-repeat center;
}




.etc{
  float: right;
  margin-top: 23px;
}
.account{
  display: inline-block;
  width: 47px;
  height: 16px;
  text-indent: -9999px;
  background: url('../images/account.png') no-repeat center;
}
.exchange{
  margin-left: 12px;
  display: inline-block;
  width: 47px;
  height: 16px;
  text-indent: -9999px;
  background: url('../images/exchange.png') no-repeat center;
}
.mypage{
  margin-left: 12px;
  display: inline-block;
  width: 58px;
  height: 16px;
  text-indent: -9999px;
  background: url('../images/mypage.png') no-repeat center;
}
.logout{
  margin-left: 12px;
  display: inline-block;
  width: 46px;
  height: 16px;
  text-indent: -9999px;
  background: url('../images/logout.png') no-repeat center;
}






/* .banner_wrap{
 *   position: relative;
 *     width: 100%;
 *       height: 432px;
 *         overflow: hidden;
 *           background: #0d142b;
 *             text-align: center;
 *             } */
.banner_wrap{
  position: relative;
  width: 100%;
  height: 432px;
  overflow: hidden;
  text-align: center;
  background: url(../images/banner01.jpg) no-repeat top center;
  background-color: #0d142b;
}
/* .banner_wrap .bannerImg{
 *   position: absolute;
 *     top: 0;
 *       left: 50%;
 *         transform: translateX(-50%);
 *         } */
.banner{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 1180px;
  height: 100%;
}
.liveBtn{
  position: absolute;
  bottom: 115px;
  left: 50px;
}

.hotnews_wrap{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0 0 85px;
  width: 1180px;
  height: 30px;
  background: url('../images/hotnews.png') no-repeat bottom 3px left 20px;
}
.hotnews_slide{
  width: 450px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.hotnews_slide .hotnews{
  position: absolute;
  white-space: nowrap;

  animation-name: slideList;
  animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes slideList{
  0%{
      left: 100%;
  }
  100%{
      left: -100%;
  }
}




.main{
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 82px - 105px);
  /* max-width: 1637px; */
  overflow-x: hidden;
}
.main_wrap{
  position: relative;
  margin: 0 auto;
  padding: 0 20px 40px;
  width: 1180px;
}

.today_wrap{
  display: inline-block;
  position: relative;
  margin-right: 40px;
  padding-top: 92px;
  width: 645px;
  /* width: 56.5%; */
  background: url('../images/todayHotgame.png') no-repeat top 32px left;
}
.more{
  position: absolute;
  top: 36px;
  right: 0;
  width: 33px;
  height: 15px;
  text-indent: -9999px;
  background: url('../images/more.png') no-repeat center;
}
.today_list{
  margin-bottom: 2px;
  padding: 0 5px;
  width: 100%;
  height: 35px;
  background: #f5f5f9;
  border-radius: 3px;
  line-height: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
}

.today_list li{
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}
.today_list .time{
  margin: 0 5px;
  width: 105px;
  /* width: 17%; */
}
.today_list .league{
  margin: 0 5px;
  width: 66px;
  /* width: 10%; */
}
.today_list .team{
  margin: 0 5px;
  width: 130px;
  width: 20%;
  height: 100%;
}
.today_list .be{
  margin: 0 5px;
  width: 37px;
  /* width: 7%; */
}
.vs{
  margin: 0 15px;
  width: 24px;
  height: 100%;
  background: url('../images/vs.png') no-repeat center;
}


.notice_bg{
  position: absolute;
  top: 0;
  left: 705px;
  width: 50vw;
  min-height: 100%;
  height: calc(100vh - 619px);
  min-width: 475px;
  background: url('../images/noticeGravity.png') no-repeat top 32px left 40px;
  background-color: #f8f8fb;
}
.notice{
  float: right;
  display: inline-block;
  padding: 92px 0 0 40px;
  position: relative;
}
.notice_table{
  width: 415px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dfdfe1;
}
.notice_table:last-child{
  border-bottom: 0;
}
.notice_table .time{
  width: 80px;
}
.notice_table .notice_tit{
  width: 335px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}
.new{
  display: inline-block;
  margin: 0 0 -4px 8px;
  width: 16px;
  height: 16px;
  background: url('../images/new.png') no-repeat center right;
}





.footer{
  width: 100%;
  height: 82px;
  background: #222942;
}
.footer_wrap{
  margin: 0 auto;
  padding: 0 20px;
  width: 1180px;
  height: 100%;
  line-height: 82px;
}
.logo_footer{
  display: inline-block;
  margin: 25px 20px 0 0;
  width: 84px;
  height: 29px;
  text-indent: -9999px;
  background: url('../images/logo_footer.png') no-repeat center left;
  float: left;
}

.list_left li{
  float: left;
}
.list_left::after{
  content: "";
  clear: both;
}
.aligh_r{
  text-align: right;
}





/* indexê ìëŒ íŽììëŠ bodyì sub_pg íëžìŠ ìê*/
.sub_pg .header_sub{
  width: 100%;
  height: 42px;
  background: rgba(38, 43, 69, 0.59);
}
.sub_pg .main_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../images/sub_bg.png') no-repeat top center;
  background-size: cover;
}
}
