<!Doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, viewport-fit=cover"/>
  <link rel="stylesheet" type="text/css" href="./asset/css/reset.css">
  <link rel="stylesheet" type="text/css" href="./asset/css/common.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="./asset/js/jquery-3.4.1.min.js"></script>
  <script src="./asset/js/common.js"></script>
</head>
<body>
  <header>
    <h1 class="logo"><a href="index.html">로고</a></h1>
  </header>
  <!-- <aside>
  </aside> -->
  <div class="content">
    <section>
      <ul>
        <li>
          <div class="img-wrap"><img src=""></div>
          <strong>가계명</strong>
          <p>가게 주소</p>
          <span>가게 설명</span>
        </li>
        <li>
          <div class="img-wrap"><img src=""></div>
          <strong>가계명</strong>
          <p>가게 주소</p>
          <span>가게 설명</span>
        </li>
        <li>
          <div class="img-wrap"><img src=""></div>
          <strong>가계명</strong>
          <p>가게 주소</p>
          <span>가게 설명</span>
        </li>
      </ul>
    </section>
  </div>
</br></br></br>
  <footer>
    <ul>
      <li>  
        <span>로그인 정보 :: <span id="user_id"></span><img id="user_img" style="width: 60px;height: 60px;"/></span>
      </li>
      <li>  
        <button onclick="userTokenCheck()">로그인</button>
      </li>
      <li>  
        <button onclick="userLogout()">로그아웃</button>
      </li>
    </ul>
  </footer>
  <script>
    $(document).ready(function(){
      USER_ACC_TOKEN = getParameterByName('token');
      var user_id = '';
      var login_type = getParameterByName('type');
      if(login_type == null){
        $('#user_id').text('no user login');
      } else {
        $('#user_id').text(getParameterByName('nickname'));
        $('#user_img').attr('src',getParameterByName('image'));
      }
    });
  </script>
</body>
</html>
