<script src="asset/js/jquery-3.4.1.min.js"></script>
    <div class="panel panel-default" id="chatWrap">
        <div class="panel-heading">대화내용</div>
        <div class="panel-body">
            <ul id="chatBody"></ul>
        </div>
    </div>
    <form action="" method="post" id="sendForm">
        <div class="input-group">
            <input type="hidden" name="socketId">
            <input type="text" name="message" class="form-control" placeholder="대화내용을 입력해주세요.">
            <span class="input-group-btn">
                <button class="btn btn-primary">작성하기</button>
            </span>
        </div><!-- /input-group -->
    </form>  
<script src="/socket.io/socket.io.js"></script>  
<script>
(function(){
    var socket = io();
    socket.on('server message', function(data){
        $('#chatBody').append('<li>' + data + '</li>');
    });
    $(document).ready(function() {
        $('#sendForm').submit(function(){
            var $massage = $('#sendForm input[name=message]');
            socket.emit('client message', { message : $massage.val()});
            $massage.val('');
            return false;
        });
    });
})();
</script>