<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
	<title>Login Bistro</title>
	<link rel="stylesheet" type="text/css" href="./asset/css/reset.css">
	<link rel="stylesheet" type="text/css" href="./asset/css/common.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js"></script>
	<script src="./asset/js/jquery-3.4.1.min.js"></script>
	<script src="./asset/js/common.js"></script>
	<script src="./asset/js/oauth.js"></script>
</head>
<body>
	<div class="login_wrap">
		<a class="btn_large kakao" onclick="loginWithKakao()">카카오톡으로 시작하기</a>
		<a class="btn_large naver">네이버로 시작하기</a>
		<a class="btn_large facebook" onclick="facebookSignin()">페이스북으로 시작하기</a>
		<a class="btn_large google" id="google-login">구글로 시작하기</a>
	</div>
	<div id="naverIdLogin"></div>
</body>
</html>
